html {
  color-scheme: dark;
  font-family: 'Helvetica';
  font-size: large;
}

sl-input[type="password"]::part(form-control-help-text) {
  color: red;
}

sl-menu-label::part(base) {
  font-size: x-large;
  font-weight: bold;
}