html {
  color-scheme: dark;
  font-family: 'Helvetica';
  font-size: large;
}

sl-input.errorHelp::part(form-control-help-text) {
  color: red;
}

/* TODO: specify this to only be user menu username */
sl-menu-label::part(base) {
  font-size: x-large;
  font-weight: bold;
}

.sl-toast-stack {
  display: flex;
  flex-direction: column-reverse;
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
}
