html {
  color-scheme: dark;
  font-family: 'Questrial', 'Helvetica';
  font-weight: 400;
  font-size: small;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 94vh;
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.toolbar sl-input {
  flex: 1;
}

.table-contents {
  display: flex;
  flex-direction: column;
  flex: 10;
  overflow-y: auto;
}

.table-contents sl-card {
  --border-radius: 0;
}

.table-header {
  font-weight: 900;
  position: sticky;
  top: 0;
}

.table-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-cell {
  display: flex;
  flex: 1;
}

.table-end {
  position: absolute;
  right: 1vw;
}

.page-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.allergen-box sl-icon-button {
  margin-right: -1em;
}

.add-recipe-button {
  font-size: 2em;
}
